# Ansible version used in container
ansible==2.6.20

# packages for ansible openstack dynamic inventory
openstacksdk==0.36.3
os-client-config==1.28.0 # Do not bump up, at least 1.31.2 breaks things (21.2.2019)
shade==1.32.0

# openstack command line clients
# Pouta client docs: https://docs.csc.fi/cloud/pouta/command-line-tools/
# These are newer versions than listed in Pouta docs but they work better.
python-cinderclient==4.3.0
python-glanceclient==3.2.0
python-heatclient==1.18.0
python-keystoneclient==3.18.0
python-novaclient==17.1.0
python-openstackclient==3.19.0
python-swiftclient==3.10.0
