---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: influxdb-backup-pvc
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ influxdb_backup_vol_size | default('20Gi') }}"
