---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: influxdb-backup-volume
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: "{{ influxdb_backup_vol_size | default('20Gi') }}"
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/local-storage/disk1/influxdb_backups"
