---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: influxdb
  namespace: monitoring-infra
  labels:
    app: influxdb
spec:
  selector:
    matchLabels:
      app: influxdb
  template:
    metadata:
      labels:
        app: influxdb
    spec:
      serviceAccountName: influxdb
      securityContext:
        runAsUser: 1234
      nodeSelector:
        type: influxdb
      containers:
      - name: influxdb
        image: {{ influxdb_image | default('influxdb') }}
        resources:
          requests:
            memory: {{ influxdb_req_mem | default('4Gi') }}
            cpu: {{ influxdb_req_cpu | default('800m') }}
          limits:
            memory: {{ influxdb_lim_mem | default('6Gi') }}
            cpu: {{ influxdb_lim_cpu | default('1500m') }}
        ports:
        - name: influxdb-api
          containerPort: 8086
        - name: influxdb-backup
          containerPort: 8088
        volumeMounts:
        - mountPath: /var/lib/influxdb
          name: data
        - mountPath: /etc/influxdb
          name: influxdb-config
        livenessProbe:
          httpGet:
            path: /ping
            port: 8086
          initialDelaySeconds: 15
          timeoutSeconds: 2
        readinessProbe:
          httpGet:
            path: /ping
            port: 8086
          initialDelaySeconds: 5
          timeoutSeconds: 2
      - name: prometheus-remote-storage-adapter
        image: {{ prometheus_remote_storage_adapter_image | default('docker.io/rlaurika/prometheus_remote_storage_adapter') }}
        command:
        - remote_storage_adapter
        - -influxdb-url=http://localhost:8086
        - -influxdb.database=prometheus
        - -influxdb.retention-policy=1m
        - -influxdb.username=admin
        env:
        - name: INFLUXDB_PW
          valueFrom:
            secretKeyRef:
              name: monitoring-token
              key: token
        ports:
        - name: storage-adapter
          containerPort: 9201
        livenessProbe:
          exec:
            command:
            - pgrep
            - remote_storage_adapter
          initialDelaySeconds: 5
          periodSeconds: 5
        readinessProbe:
          exec:
            command:
            - pgrep
            - remote_storage_adapter
          initialDelaySeconds: 5
          periodSeconds: 5
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: influxdb-pvc
      - name: influxdb-config
        configMap:
          defaultMode: 420
          name: influxdb-configmap
      - name: monitoring-token
        secret:
          secretName: monitoring-token
  replicas: 1
