---
kind: Service
apiVersion: v1
metadata:
  name: influxdb
  namespace: monitoring-infra
spec:
  ports:
  - name: influxdb-api
    port: 8086
    protocol: TCP
    targetPort: influxdb-api
  - name: influxdb-backup
    port: 8088
    protocol: TCP
    targetPort: influxdb-backup
  - name: storage-adapter
    port: 9201
    protocol: TCP
    targetPort: storage-adapter
  selector:
    app: influxdb
