[Global]
auth-url = {{ openshift_cloudprovider_openstack_auth_url }}
username = {{ openshift_cloudprovider_openstack_username }}
password = {{ openshift_cloudprovider_openstack_password }}
domain-id = {{ openshift_cloudprovider_openstack_domain_id }}
tenant-id = {{ openshift_cloudprovider_openstack_tenant_id }}
region = {{ openshift_cloudprovider_openstack_region }}
