# /usr/share/selinux/devel/include

policy_module(gpu-container, 0.1)

gen_require(`
        type container_file_t;
        type container_runtime_tmpfs_t;
        type xserver_exec_t;
	type xserver_misc_device_t;

    attribute container_net_domain;
    attribute kernel_system_state_reader;
	attribute sandbox_net_domain;
	attribute sandbox_caps_domain;
	attribute svirt_sandbox_domain;
	attribute syslog_client_type;
')

container_domain_template(gpu_container)

typeattribute gpu_container_t container_net_domain;
typeattribute gpu_container_t kernel_system_state_reader;
typeattribute gpu_container_t sandbox_net_domain;
typeattribute gpu_container_t sandbox_caps_domain;
typeattribute gpu_container_t svirt_sandbox_domain;
typeattribute gpu_container_t syslog_client_type;

# container file access
getattr_dirs_pattern(gpu_container_t, container_runtime_tmpfs_t, container_runtime_tmpfs_t)
list_dirs_pattern(gpu_container_t, container_runtime_tmpfs_t, container_runtime_tmpfs_t)
read_files_pattern(gpu_container_t, container_runtime_tmpfs_t, container_runtime_tmpfs_t)


# allow to run nvidia-smi from the container
allow gpu_container_t xserver_exec_t:file { entrypoint execute getattr open read execute_no_trans };
# --- alloc mem, ... /dev/nvidia*
dev_rw_xserver_misc(gpu_container_t)
