apiVersion: v1
baseDomain: csc.fi
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform:
    openstack:
      type: standard.xlarge
      rootVolume:
        size: 30
        type: standard
  replicas: 0
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform:
    openstack:
      type: standard.xlarge
      rootVolume:
        size: 30
        type: standard
  replicas: 3
metadata:
  creationTimestamp: null
  name: {{ openshift_project_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ openshift_machine_network_cidr }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  openstack:
    cloud: {{ openshift_project_name }}
    clusterOSImage: {{ openshift_base_image }}
    externalNetwork: public
    externalDNS:
      - {{ openshift_external_dns_server }}
    ingressFloatingIP: {{ openshift_public_ip }}
    ingressVIP: {{ openshift_machine_network_cidr | next_nth_usable(5) }}
    lbFloatingIP: {{ api_public_ip }}
    apiVIP: {{ openshift_machine_network_cidr | next_nth_usable(7) }}
publish: External
pullSecret: '{{ installer_pull_secret }}'
