---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: thanos-store
  namespace: {{ monitoring_namespace }}
  labels:
    app: thanos
    component: thanos-store
spec:
  serviceName: "thanos-store"
  replicas: 1
  selector:
    matchLabels:
      app: thanos
      component: thanos-store
  template:
    metadata:
      labels:
        app: thanos
        component: thanos-store
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "10902"
    spec:
      containers:
      - name: thanos-store
        image: {{ thanos_image }}:{{ thanos_image_version }}
        imagePullPolicy: {{ default_image_pull_policy }}
        args:
        - 'store'
        - '--data-dir=/var/thanos/store'
        - '--grpc-address=0.0.0.0:10901'
        - '--http-address=0.0.0.0:10902'
        - '--objstore.config-file=/var/run/thanos-config/thanos.yml'
        ports:
        - name: http
          containerPort: 10902
        - name: grpc
          containerPort: 10901
        volumeMounts:
        - name: data
          mountPath: /var/thanos/store
        - name: bucket-config
          mountPath: /var/run/thanos-config
          readOnly: true
      volumes:
      - name: data
        emptyDir: {}
      - name: bucket-config
        secret:
          secretName: bucket-config
{% if prometheus_nodeselector is not none %}
      nodeSelector:
        {{ prometheus_nodeselector }}
{% endif %}