# This YAML file contains secret objects,
# which are necessary to run csi cinder plugin.

kind: Secret
apiVersion: v1
metadata:
  name: cloud-config
  namespace: {{ csi_cinder_namespace }}
data:
  cloud.conf: {{ base64_encoded_cloud_config }}