{
  "blueprint" : "spark-hdfs",
  "default_password" : "spark",
  "host_groups" :[
    {
      "name" : "host_group_1", 
      "hosts" : [         
{% for vm in groups['masters'] %}
        {
          "fqdn" : "{{ vm }}.novalocal"
        }
{% if not loop.last %},{% endif %}
{% endfor %}
      ]
    },
    {
      "name" : "host_group_2", 
      "hosts" : [
{% for vm in groups['nodes'] %}
        {
          "fqdn" : "{{ vm }}.novalocal"
        }
{% if not loop.last %},{% endif %}
{% endfor %}
      ]
    }
  ]
}
