apiVersion: v1
kind: Project
metadata:
  name: "{{ name }}"
{% if annotations is defined %}
  annotations:
{% for key, value in annotations.iteritems() %}
    {{key}}: {{value}}
{% endfor %}
{% endif %}
spec:
  finalizers:
  - kubernetes
  - openshift.io/origin
