# copied from openshift-ansible
apiVersion: v1
kind: Secret
metadata:
  name: "{{ name }}"
{% if annotations is defined %}
  annotations:
{% for key, value in annotations.iteritems() %}
    {{key}}: {{value}}
{% endfor %}
{% endif %}
  labels:
{% for key, value in labels.iteritems() %}
    {{ key }}: {{ value }}
{% endfor %}
data:
{% for key, value in data.iteritems() %}
    {{ key }}: {{ value }}
{% endfor %}
