Host *
  ForwardAgent no
  GSSAPIAuthentication no
  ControlMaster auto
  ControlPath .ssh_controlmaster/socket_%r@%h:%p
  ControlPersist 30m

Host {{ cluster_name }}-bastion
  HostName {{ bastion_public_ip }}
  User cloud-user

Host {{ host_ssh_config_pattern }}
  ProxyCommand ssh -F /tmp/pac.ssh.config -q {{ cluster_name }}-bastion nc %h %p
