{
    "access": "proxy",
    "basicAuth": true,
    "basicAuthPassword": "{{ monitoring_access_token }}",
    "basicAuthUser": "token",
    "database": "",
    "isDefault": true,
    "jsonData": {},
    "name": "local",
    "orgId": 1,
    "password": "",
    "secureJsonFields": {},
    "type": "prometheus",
    "typeLogoUrl": "",
    "url": "http://prometheus:8888",
    "user": "",
    "withCredentials": false
}
