{
    "access": "proxy",
    "basicAuth": true,
    "basicAuthPassword": "{{ influxdb_prom_reader_password }}",
    "basicAuthUser": "prom_reader",
    "database": "{{ influxdb_database_name }}",
    "isDefault": false,
    "jsonData": {
        "timeInterval": "{{ influxdb_database_interval }}"
    },
    "name": "influxdb_{{ influxdb_database_name }}",
    "orgId": 1,
    "password": "",
    "secureJsonFields": {},
    "type": "influxdb",
    "typeLogoUrl": "",
    "url": "http://influxdb:8086",
    "user": "",
    "withCredentials": false
}
