---
# Heketi prometheus metrics exporter.
# Adapted from https://github.com/ttindell2/heketi_exporter
# Deploy with basic-auth-proxy as side-car container.
# We deploy the pod on masters (running only our infrastructure pods).

apiVersion: v1
kind: List
items:
- apiVersion: v1
  kind: Service
  metadata:
    annotations:
      prometheus.io/scrape: "true"
    labels:
      app: heketi-metrics-exporter
    name: heketi-metrics-exporter
  spec:
    clusterIP: None
    ports:
    - name: scrape
      port: 9189
      protocol: TCP
      targetPort: scrape
    selector:
      app: heketi-metrics-exporter

# Create an edge terminated, whitelisted route for heketi-metrics-exporter
- apiVersion: v1
  kind: Route
  metadata:
    name: heketi-metrics-exporter
    annotations:
      haproxy.router.openshift.io/ip_whitelist: "{{ ip_whitelist_heketi|join(' ') }}"
  spec:
    host: "heketi-metrics-exporter.{{ openshift_public_hostname }}"
    to:
      name: heketi-metrics-exporter
    tls:
      termination: Edge
      insecureEdgeTerminationPolicy: Redirect
      caCertificate: |
        {{ api_domain_cert.tls_ca_certificate|indent(width=8) }}
      certificate: |
        {{ api_domain_cert.tls_certificate|indent(width=8) }}
      key: |
        {{ api_domain_cert.tls_secret_key|indent(width=8) }}

- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    name: heketi-metrics-exporter
    labels:
      app: heketi-metrics-exporter
      role: monitoring
  spec:
    replicas: 1
    selector:
      app: heketi-metrics-exporter
    template:
      metadata:
        labels:
          app: heketi-metrics-exporter
          role: monitoring
      spec:
        nodeSelector:
          type: {{ poc_heketi_node_selector_type|default('master') }}
        containers:
        - name: basic-auth-proxy
          image: {{ monitoring_basic_auth_proxy_image }}
          imagePullPolicy: Always
          ports:
          - containerPort: 8888
            name: scrape
          volumeMounts:
          - mountPath: /etc/nginx/secrets
            name: monitoring-token
          resources:
            requests:
              memory: 100Mi
          readinessProbe:
            tcpSocket:
              port: scrape
        - name: heketi-metrics-exporter
          image: {{ monitoring_heketi_metrics_exporter_image }}
          imagePullPolicy: Always
          env:
          - name: HEKETI_CLI_USER
            value: admin
          - name: HEKETI_CLI_KEY
            valueFrom:
              secretKeyRef:
                name: heketi-storage-admin-secret
                key: key
          - name: HEKETI_CLI_SERVER
            value: http://heketi-storage:8080
          - name: LISTEN_ADDRESS
            value: localhost:8080
          ports:
          - containerPort: 8080
          resources:
            requests:
              memory: 200Mi
          readinessProbe:
            exec:
              command:
              - curl
              - http://localhost:8080/metrics
        restartPolicy: Always
        volumes:
        - name: monitoring-token
          secret:
            secretName: monitoring-token
