apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  name: ns-project-label
webhooks:
  - name: namespaces.project.label
    clientConfig:
      service:
        name: ns-project-label-webhook
        namespace: webhooks
        path: "/namespaces"
      caBundle: {{ ca_bundle }}
    rules:
      - operations:
        - CREATE
        apiGroups:
        - ""
        apiVersions:
        - "*"
        resources:
        - namespaces
    failurePolicy: Ignore
