apiVersion: v1
kind: Service
metadata:
  name: ns-project-label-webhook
  labels:
    role: ns-project-label-webhook
  namespace: webhooks
spec:
  ports:
  - port: 443
    targetPort: 8443
  selector:
    role: ns-project-label-webhook

