apiVersion: v1
kind: DeploymentConfig
metadata:
  name: ns-project-label-webhook
  labels:
    role: ns-project-label-webhook
  namespace: webhooks
spec:
  replicas: 2
  template:
    metadata:
      labels:
        role: ns-project-label-webhook
    spec:
      containers:
        - name: ns-project-label-webhook
          image: "{{ ns_project_webhook_image }}"
          imagePullPolicy: Always
          env:
          - name: LDAP_SERVER
            valueFrom:
              secretKeyRef:
                name: ldap-auth
                key: server
          - name: LDAP_USER
            valueFrom:
              secretKeyRef:
                name: ldap-auth
                key: user
          - name: LDAP_PASSWORD
            valueFrom:
              secretKeyRef:
                name: ldap-auth
                key: password
          - name: LDAP_USER_QUERY
            valueFrom:
              secretKeyRef:
                name: ldap-auth
                key: user_query
          - name: LDAP_PROJECT_QUERY
            valueFrom:
              secretKeyRef:
                name: ldap-auth
                key: project_query
          - name: VERBOSE
            value: "{{ ns_project_webhook_verbose|default('0')}}"
          - name: USERS_WHITELIST
            value: "{{ ns_project_webhook_users_whitelist }}"
          ports:
            - containerPort: 8443
          volumeMounts:
            - name: ns-webhook-certs
              mountPath: /etc/webhook/certs
              readOnly: true
          readinessProbe:
            httpGet:
              path: /ping
              port: 8443
              scheme: HTTPS
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 2
          livenessProbe:
            httpGet:
              path: /ping
              port: 8443
              scheme: HTTPS
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 2
      volumes:
        - name: ns-webhook-certs
          secret:
            secretName: ns-webhook-certs
