---
kind: "StorageClass"
apiVersion: "storage.k8s.io/v1"
metadata:
  name: "{{ name }}"
  annotations:
{% for annotation in annotations %}
    {{ annotation.name }}: "{{ annotation.value }}"
{% endfor %}
provisioner: "{{ provisioner }}"
parameters:
{% for parameter in parameters %}
    {{ parameter.name }}: "{{ parameter.value }}"
{% endfor %}
