global_defs {
    enable_script_security
    script_user root root
}

vrrp_script check_app_routes {
    script       "/usr/local/share/keepalived/check_app_routes.bash"
    interval 10
}

vrrp_instance vrrp_group_1 {
    state {{ keepalived_state }}
    interface {{ keepalived_interface }}
    virtual_router_id 1
    priority {{ keepalived_priority }}
    authentication {
        auth_type AH
        auth_pass {{ keepalived_password }}
    }
    virtual_ipaddress {
        {{ keepalived_vip }}/{{ keepalived_vip_mask_bits }} brd {{ keepalived_vip_mask }} dev {{ keepalived_interface }}
    }
    track_interface {
        {{ keepalived_interface }}
    }
    track_script {
        check_app_routes weight {{ keepalived_app_routes_down_weight }}
    }
}
