[all:vars]
ansible_ssh_user=cloud-user
ansible_sudo=true
cluster_name={{ cluster_name }}

[masters]

{% for vm in groups['masters'] %}
{{ vm }} ansible_ssh_host={{ hostvars[vm]['ansible_ssh_host'] }} vm_group_name={{ hostvars[vm]['vm_group_name'] }}
{% endfor %}

[nodes]

{% for vm in groups['nodes'] %}
{{ vm }} ansible_ssh_host={{ hostvars[vm]['ansible_ssh_host'] }} vm_group_name={{ hostvars[vm]['vm_group_name'] }}
{% endfor %}
