[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=300s -o StrictHostKeyChecking=no
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r

[defaults]
forks = 30
gathering = smart
ansible_python_interpreter = "/usr/bin/env python"
callback_whitelist = timer,profile_tasks,poc_flowdock
roles_path = roles:../../galaxy-roles:../../openshift-ansible/roles
retry_files_enabled = False
vault_password_file = /dev/shm/secret/vaultpass
any_errors_fatal = True
max_fail_percentage = 0
timeout = 30
gather_timeout=20
# Ignore "Invalid characters were found in group names but not replaced" warning
force_valid_group_names = ignore
# Mitogen settings (uncomment to use mitogen)
strategy_plugins = /opt/deployment/mitogen-0.2.9/ansible_mitogen/plugins/strategy
strategy = mitogen_linear
host_key_checking = False
# Mitogen settings end

[persistent_connection]
# Configures the persistent connection timeout value in seconds.  This value is
# how long the persistent connection will remain idle before it is destroyed.
# If the connection doesn't receive a request before the timeout value
# expires, the connection is shutdown. The default value is 30 seconds.
connect_timeout = 600

# The command timeout value defines the amount of time to wait for a command
# or RPC call before timing out. The value for the command timeout must
# be less than the value of the persistent connection idle timeout (connect_timeout)
# The default value is 30 second.
command_timeout = 600
