---

- name: Create temporary files on a RAM disk for TLS certs, ssh keys, OpenStack credentials
  hosts: localhost
  gather_facts: no
  connection: local
  tasks:
    - include: environment_context.yml
    - name: Create a temporary directory on the RAM disk
      file:
        path: "/dev/shm/{{ cluster_name }}"
        state: directory
        mode: 0700
    - name: Copy TLS certificate
      copy:
        dest: "/dev/shm/{{ cluster_name }}/{{ openshift_public_hostname }}.crt"
        content: "{{ tls_certificate }}"
        mode: 0600
    - name: Copy TLS key
      copy:
        dest: "/dev/shm/{{ cluster_name }}/{{ openshift_public_hostname }}.key"
        content: "{{ tls_secret_key }}"
        mode: 0600
    - name: Copy CA cert
      copy:
        dest: "/dev/shm/{{ cluster_name }}/ext_ca.crt"
        content: "{{ tls_ca_certificate }}"
        mode: 0600
    - name: Create OpenStack openrc.sh for Keystone API v3
      copy:
        dest: "/dev/shm/{{ cluster_name }}/openrc.sh"
        mode: 0600
        content: |
          export OS_AUTH_URL="{{ openshift_cloudprovider_openstack_auth_url }}"
          export OS_IDENTITY_API_VERSION=3
          export OS_USERNAME="{{ openshift_cloudprovider_openstack_username }}"
          export OS_USER_DOMAIN_NAME="{{ openshift_cloudprovider_openstack_domain_name }}"
          export OS_PASSWORD="{{ openshift_cloudprovider_openstack_password }}"
          export OS_TENANT_ID="{{ openshift_cloudprovider_openstack_tenant_id }}"
          export OS_TENANT_NAME="{{ openshift_cloudprovider_openstack_tenant_name }}"
          export OS_REGION="{{ openshift_cloudprovider_openstack_region }}"
      when: openshift_cloudprovider_openstack_auth_url|regex_search('(/v3)')
    - name: Create OpenStack openrc.sh for Keystone API v2.0
      copy:
        dest: "/dev/shm/{{ cluster_name }}/openrc.sh"
        mode: 0600
        content: |
          export OS_AUTH_URL="{{ openshift_cloudprovider_openstack_auth_url }}"
          export OS_USERNAME="{{ openshift_cloudprovider_openstack_username }}"
          export OS_PASSWORD="{{ openshift_cloudprovider_openstack_password }}"
          export OS_TENANT_ID="{{ openshift_cloudprovider_openstack_tenant_id }}"
          export OS_TENANT_NAME="{{ openshift_cloudprovider_openstack_tenant_name }}"
          export OS_REGION="{{ openshift_cloudprovider_openstack_region }}"
      when: openshift_cloudprovider_openstack_auth_url|regex_search('(/v2.0)')
    - name: Copy ssh private key
      copy:
        dest: "/dev/shm/{{ cluster_name }}/id_rsa"
        content: "{{ ssh_private_key }}"
        mode: 0600
      register: copy_private_key
    - name: Create ssh public key
      shell: ssh-keygen -y -f /dev/shm/{{ cluster_name }}/id_rsa > /dev/shm/{{ cluster_name }}/id_rsa.pub
      when: copy_private_key.changed
