---
- hosts: localhost
  gather_facts: no
  connection: local
  tasks:
    - include: environment_context.yml
    - name: Add public key to OpenStack for {{ cluster_name }}
      os_keypair:
        state: present
        name: "{{ cluster_name }}"
        public_key_file: "/dev/shm/{{ cluster_name }}/id_rsa.pub"
    - name: check if stack has been provisioned already
      shell: openstack stack show {{ cluster_name }}
      register: stack_output
      failed_when: false
      changed_when: false
    - block:
      - name: Build the OpenShift Heat stack (full)
        register: heat_stack
        os_stack:
          name: "{{ cluster_name }}"
          state: present
          template: "files/openshift-heat-stack.yml"
          wait: yes
          parameters:
            env_name: "{{ cluster_name }}"
            bastion_allow_cidrs: "{{ bastion_allow_cidrs }}"
            secgroup_ext_access_rules: "{{ secgroup_ext_access_rules }}"
            openshift_network_cidr: "{{ openshift_network_cidr }}"
            openshift_router: "{{ openshift_router }}"
            key_name: "{{ cluster_name }}"
            bastion_vm_image: "{{ bastion_vm_image }}"
            bastion_vm_flavor: "{{ bastion_vm_flavor }}"
            bastion_cloud_config: "{{ bastion_cloud_config|default({}) }}"
            etcd_vm_group_size: "{{ etcd_vm_group_size }}"
            etcd_vm_image: "{{ etcd_vm_image }}"
            etcd_vm_flavor: "{{ etcd_vm_flavor }}"
            lb_vm_group_size: "{{ lb_vm_group_size }}"
            lb_vm_image: "{{ lb_vm_image }}"
            lb_vm_flavor: "{{ lb_vm_flavor }}"
            lb_vol_size: "{{ lb_vol_size }}"
            nfs_vm_group_size: "{{ nfs_vm_group_size }}"
            nfs_vm_image: "{{ nfs_vm_image }}"
            nfs_vm_flavor: "{{ nfs_vm_flavor }}"
            nfs_vol_size: "{{ nfs_vol_size }}"
            master_vm_group_size: "{{ master_vm_group_size }}"
            master_vm_image: "{{ master_vm_image }}"
            master_vm_flavor: "{{ master_vm_flavor }}"
            node_ssd_vm_group_size: "{{ node_ssd_vm_group_size }}"
            node_ssd_vm_image: "{{ node_ssd_vm_image }}"
            node_ssd_vm_flavor: "{{ node_ssd_vm_flavor }}"
      - name: Associate floating IP with first LB node
        os_floating_ip:
          server: "{{ cluster_name }}-lb-0"
          floating_ip_address: "{{ openshift_public_ip }}"
      when:
      - master_vm_group_size > 1
      - stack_output.stderr.find('Stack not found') != -1
    - block:
      - name: Build the OpenShift Heat stack (minimal)
        register: heat_stack
        os_stack:
          name: "{{ cluster_name }}"
          state: present
          template: "files/openshift-heat-stack-minimal.yml"
          wait: yes
          parameters:
            env_name: "{{ cluster_name }}"
            bastion_allow_cidrs: "{{ bastion_allow_cidrs }}"
            secgroup_ext_access_rules: "{{ secgroup_ext_access_rules }}"
            openshift_network_cidr: "{{ openshift_network_cidr }}"
            openshift_router: "{{ openshift_router }}"
            key_name: "{{ cluster_name }}"
            bastion_vm_image: "{{ bastion_vm_image }}"
            bastion_vm_flavor: "{{ bastion_vm_flavor }}"
            bastion_cloud_config: "{{ bastion_cloud_config|default({}) }}"
            master_vm_group_size: "{{ master_vm_group_size }}"
            master_vm_image: "{{ master_vm_image }}"
            master_vm_flavor: "{{ master_vm_flavor }}"
            master_vm_vol_size: "{{ master_vm_vol_size }}"
            node_ssd_vm_group_size: "{{ node_ssd_vm_group_size }}"
            node_ssd_vm_image: "{{ node_ssd_vm_image }}"
            node_ssd_vm_flavor: "{{ node_ssd_vm_flavor }}"
      - name: Associate floating IP with master
        os_floating_ip:
          server: "{{ cluster_name }}-master-0"
          floating_ip_address: "{{ openshift_public_ip }}"
      when:
      - master_vm_group_size == 1
      - stack_output.stderr.find('Stack not found') != -1
    - name: Associate floating IP with bastion host
      os_floating_ip:
        server: "{{ cluster_name }}-bastion"
        floating_ip_address: "{{ bastion_public_ip }}"
    - name: Refresh dynamic inventory
      meta: refresh_inventory

- include: generate_ssh_config.yml

- hosts: localhost
  gather_facts: no
  connection: local
  tasks:
    - name: Wait for connectivity on port 22 on the bastion
      wait_for:
        host: "{{ bastion_public_ip }}"
        port: 22
        search_regex: "OpenSSH"
        delay: 5
        timeout: 900
    - name: Wait for SSH to work
      shell: ssh {{ bastion_public_ip }} 'echo success'
      register: result
      until: result.stdout.find('success') != -1
      retries: 30
      delay: 5
      changed_when: false

- name: Install nmap-ncat on bastion if need be
  hosts: bastion
  gather_facts: no
  become: yes
  tasks:
    - name: Install nmap-ncat
      yum:
        name: nmap-ncat
        state: present

- name: Wait for SSH to work on all other hosts
  hosts: all
  gather_facts: no
  any_errors_fatal: yes
  tasks:
    - name: Wait for connectivity on port 22 on all other hosts
      wait_for:
        host: "{{ ansible_ssh_host }}"
        port: 22
        search_regex: "OpenSSH"
        delay: 5
        timeout: 300
      delegate_to: "{{ hostvars[groups['bastion'][0]]['ansible_ssh_host'] }}"
